<div class="flex flex-col justify-center items-center bg-blue-900 h-screen">

  <div class="w-1/3 h-1/2 bg-white flex flex-col p-3 gap-y-3">
    <div class="flex flex-row justify-between">
      <input placeholder="+ New Task" [(ngModel)]="taskText" (keyup.enter)="saveTask()">
      <button class="text-white bg-blue-950 px-2 rounded" (click)="saveTask()">Add Task</button>
    </div>

    <div class="overflow-auto">
      <div *ngFor="let task of tasks">
        <div class="flex flex-row space-x-2">
          <input type="checkbox">
          <div>{{task}}</div>
        </div>
      </div>
    </div>

  </div>
  
</div>